.pad-left{
	padding-left: 20px
}

.pad-top{
	padding-top: 20px;
}

.pad-bottom{
	padding-bottom: 30px;
}

.err-block{
	padding-top: 5px;
}

.alert a {
	text-decoration: none;
}

.pad{
	padding: 20px;
}

.badge-primary {
    background-color: #0275d8 !important;
}

.badge-danger {
    background-color: #d9534f !important;
}