
.tnit-navbar-holder{
	border-radius: 0px !important;
}

.tnit-btn{
	border-radius: 0px !important;	
}

.tnit-btn, 
.tnit-navbar-holder, 
.tnit-services-item .icon-box:after, 
.tnit-menu-item .price, .btn-menu, 
.tnit-reservation-row_v2, 
.reservation-inner span, 
.btn-book, 
a.tnit-btn_v2:hover, 
.tnit-hover_v1:after, 
.tnit-team-item:before, 
#tnit-testimonial-slider .owl-controls .owl-nav [class*="owl-"]:hover, 
.btn-design, 
.tnit-pagination-row .pagination li:hover, 
.tnit-pagination-row .pagination li a:hover, 
.tnit-pagination-row .pagination li.active a, 
.tnit-pagination-row .pagination li a:focus, 
.widget-tags li a:hover, 
.tnit-search-form .btn-submit, 
.tnit-navbar-holder .navbar-nav li .dropdown-menu li:after, 
.tnit-play-btn, .tnit-stats-section, 
#tnit-team-slider .owl-dots .owl-dot.active span, 
header .navbar-default .navbar-toggle:hover, 
header .navbar-default .navbar-toggle:focus {
	background-color: #0099CC;
}


.tnit-btn_v1,
.tnit-btn:hover,
.tnit-services-item .icon-box:hover,
.tnit-tabs-nav li:before,
.tnit-footer .widget h4:after,
#tnit-team-slider .owl-dots .owl-dot.active span,
#tnit-team-slider .owl-dots .owl-dot:before,
.accordion-tab.ui-accordion-header-active .date:before,
.accordion-tab.ui-accordion-header-active:after,
.accordion-tab.ui-accordion-header-active:before,
#tnit-accordion .ui-accordion-content-active.accordion-inner:before,
.tnit-address-listed_v2 {
	border-color: #009ACD;
}

/**
 * Css To Remove Backgroud
 */
.today-middle-section{
	background-image: none;
	background: #fff;
}

.banner-caption h2{
	line-height: 70px;
}


.tnit-services-section:before{
	background: url('/front/images/home_page/we_are_offering.webp') !important;
}

.tnit-menu-section{
    background: url('/front/images/home_page/menu-bg-img.jpg') top center no-repeat !important;
}

.tnit-our-clients-section{
	float: left;
	width: 100%;
	background-color: #f5f5f5;
}

.ft-middle-row{
	background: url('/front/images/footer.webp') !important;
}